<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Quản lý tuyển sinh</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon" />
    <link
      th:href="@{/assets/img/apple-touch-icon.png}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect" />
    <link
      th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"
      rel="stylesheet"
    />
    <link
      th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"
      rel="stylesheet"
    />
    <link
      th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}"
      rel="stylesheet"
    />
    <link
      th:href="@{/assets/vendor/remixicon/remixicon.css}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" />

    <!-- Ckeditor -->
    <script src="https://cdn.ckeditor.com/ckeditor5/38.1.0/classic/ckeditor.js"></script>
  </head>
  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a th:href="@{/admin/trang-chu}" class="logo d-flex align-items-center">
          <img th:src="@{/assets/img/logo.png}" alt="" />
          <span class="d-none d-lg-block">NiceAdmin</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Logo -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item dropdown pe-3">
            <a
              class="nav-link nav-profile d-flex align-items-center pe-0"
              href="#"
              data-bs-toggle="dropdown"
            >
              <img
                th:src="@{/assets/img/profile-img.jpg}"
                alt="Profile"
                class="rounded-circle"
              />
              <span
                class="d-none d-md-block dropdown-toggle ps-2"
                th:text="${user.lastName}"
                >Toyama Kasumi</span
              > </a
            ><!-- End Profile Iamge Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
            >
              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="users-profile.html"
                >
                  <i class="bi bi-gear"></i>
                  <span>Cài đặt tài khoản</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  th:href="@{/logout}"
                >
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Đăng xuất</span>
                </a>
              </li>
            </ul>
            <!-- End Profile Dropdown Items -->
          </li>
          <!-- End Profile Nav -->
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link collapsed" th:href="@{/admin/trang-chu}">
            <i class="bi bi-grid"></i>
            <span>Trang chủ</span>
          </a>
        </li>
        <!--Muốn tab có hiệu ứng thì bỏ collapsed -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            th:href="@{/admin/quan-ly-ho-so-tuyen-sinh}"
          >
            <i class="bi bi-journal-text"></i>
            <span>Quản lý hồ sơ tuyển sinh</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/quan-ly-thong-tin-truong}">
            <i class="bi bi-card-list"></i>
            <span>Quản lý thông tin trường</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" th:href="@{/admin/quan-ly-tuyen-sinh}">
            <i class="bi bi-menu-button-wide"></i>
            <span>Quản lý tuyển sinh</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" th:href="@{/admin/quan-ly-tai-khoan}">
            <i class="bi bi-person"></i>
            <span>Quản lý tài khoản</span>
          </a>
        </li>
      </ul>
    </aside>
    <!-- End Sidebar-->

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Quản lý thông tin trường</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item">Quản lý thông tin trường</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->
      <!-- Nơi hiển thị thông báo lỗi -->
      <div
        th:if="${param.success != null}"
        class="alert alert-success alert-dismissible fade show"
        role="alert"
      >
        <i class="bi bi-check-circle me-1"></i>
        <span th:text="${param.success}"></span>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <div
        th:if="${param.error != null}"
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
      >
        <i class="bi bi-exclamation-octagon me-1"></i>
        <span th:text="${param.error}"></span>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <!-- Kết thúc nơi hiển thị nơi thông báo lỗi -->
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <!-- Bat dau van ban can them -->
                <h5 class="card-title">Thông tin trường</h5>
                <div class="row mb-4 justify-content-center">
                  <div class="col-sm-6">
                    <form
                      th:action="@{/admin/quan-ly-thong-tin-truong}"
                      id="schoolSelect"
                    >
                      <select
                        id="schoolName"
                        class="form-control"
                        name="schoolName"
                        required
                        onchange="submitForm()"
                      >
                        <option value="">-- Chọn trường --</option>
                        <option
                          th:each="school : ${schools}"
                          th:value="${school.schoolName}"
                          th:text="${school.schoolName}"
                          th:selected="${schoolSelected != null && schoolSelected.schoolName == school.schoolName}"
                        ></option>
                      </select>
                    </form>
                  </div>
                </div>
                <!-- Nơi cần thêm form chỉnh sửa -->
                <form
                  th:action="@{/admin/quan-ly-thong-tin-truong}"
                  method="post"
                  th:if="${schoolSelected != null}"
                  th:object="${schoolSelected}"
                >
                  <input type="hidden" th:field="*{id}" id="schoolId" />
                  <div class="row mb-3">
                    <label for="schoolName" class="col-sm-2 col-form-label"
                      >Tên trường</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="schoolName"
                        th:field="*{schoolName}"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="address" class="col-sm-2 col-form-label"
                      >Địa chỉ</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="address"
                        th:field="*{address}"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="phoneNumber" class="col-sm-2 col-form-label"
                      >Số điện thoại</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="phoneNumber"
                        th:field="*{phoneNumber}"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="email" class="col-sm-2 col-form-label"
                      >Email</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="email"
                        class="form-control"
                        id="email"
                        th:field="*{email}"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="requiredNumberSubmission"
                      class="col-sm-2 col-form-label"
                      >Số lượng chỉ tiêu</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="number"
                        class="form-control"
                        id="requiredNumberSubmission"
                        th:field="*{requiredNumberSubmission}"
                        min="1"
                        required
                      />
                      <div class="invalid-feedback">
                        Số lượng bắt buộc phải lớn hơn không.
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="admissionCriteria"
                      class="col-sm-2 col-form-label"
                      >Tiêu chí tuyển sinh</label
                    >
                    <div class="col-sm-10">
                      <textarea
                        class="form-control"
                        id="editor"
                        rows="3"
                        th:field="*{admissionCriteria}"
                      ></textarea>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-10 offset-sm-2">
                      <button type="submit" class="btn btn-primary">Lưu</button>
                      <button
                        class="btn btn-danger ms-2"
                        onclick="showDeleteConfirmation()"
                        >Xóa</button
                      >
                    </div>
                  </div>
                </form>
                <a th:href="@{/admin/quan-ly-thong-tin-truong/them-truong}">
                  <h5 class="card-title">Thêm trường mới</h5>
                </a>
                <!-- kết thúc văn bản cần thêm -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>Toyama Kasumi</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">Kas</a>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script
      th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"
    ></script>
    <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
    <!-- Template Main JS File -->
    <script th:src="@{/assets/js/main.js}"></script>
    <!-- CKeditor -->
    <script>
      ClassicEditor.create(document.querySelector("#editor")).catch((error) => {
        console.error(error);
      });
    </script>
    <script>
      function submitForm() {
        document.getElementById("schoolSelect").submit();
      }
    </script>
    <!-- Sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:inline="javascript">
      function showDeleteConfirmation() {
        event.preventDefault();
        Swal.fire({
          title: "Xác nhận xóa",
          text: "Khi xóa trường thì mọi hồ sơ nộp vào trường sẽ bị xóa .Bạn có chắc chắn muốn xóa?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#dc3545",
          cancelButtonColor: "#6c757d",
          confirmButtonText: "Xóa",
          cancelButtonText: "Hủy",
        }).then((result) => {
          if (result.isConfirmed) {
            // Perform the delete action
            deleteItem();
          }
        });
        function deleteItem() {
          var schoolId = document.getElementById("schoolId").value;
          var deleteUrl =
            "/admin/quan-ly-thong-tin-truong/xoa-truong?schoolId=" + schoolId;
          window.location.href = deleteUrl;
        }
      }
    </script>
  </body>
</html>
